# Copy this to .env and fill in actual values
# DO NOT COMMIT .env to git!

# Django
DEBUG=
SECRET_KEY=
ENVIRONMENT=
ALLOWED_HOSTS=

# Database (Render provides)
DATABASE_URL=

# Redis (Render provides)
CELERY_BROKER_URL=
CELERY_RESULT_BACKEND=


# Optional Settings
FACE_RECOGNITION_MODEL=
FACE_RECOGNITION_SIMILARITY_THRESHOLD=

venv
